#sidebar {
    background-image: url(../Imagens_Home/background_2.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    transition: all .5s;   
    overflow: auto;
    z-index: 2;
}

/*LOGO DO SITE*/

#logo {
    width: 98%;
    max-width: 500px;
    margin: auto;
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#logo div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo img {
    width: 35%;
    min-width: 80px;
    margin-right: 5px;
}

#logo div span{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    display: block;
    z-index: 1;
    position: absolute;
    top: 0px;
    transform: translateY(10px) rotate(-25deg);
}

#logo div h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    line-height: 30px;
    display: block;
    position: relative;
    top: 0;
}

/*QUEM*/
#quem {
    display: block;
    width: 98%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}

#quem h2 {
    font-family: 'Oranienbaum', serif;
    font-size: 30px;
    padding: 0px;
    margin: 0;
}

#quem img {
    border-radius: 50%;
    max-width: 25%;
    max-height: 25%;
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.5);

}
.quem_aux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quem_aux div {
    text-align: center;
    padding: 10px;
}

.quem_aux p{
    font-family: 'Poiret One', cursive;
    color: #222222;
    font-size: 25px;
    text-align: center;
    margin: auto 0;
}

.quem_aux a {
    color: #222222;
    text-decoration: none;
    transition: all .5s;
}

.quem_aux a:hover {
    color: white;
    text-shadow: 0px 0px 10px black;
}

/*MENUS*/

#menu {
    width: 100%;
    position: relative;
}
#menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    
}

#menu ul li a{
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    color: white;
    background-color: rgba(153, 153, 153, 0.55);
    display: block;
    padding: 3px;
    margin: 5px 2px;
    border: 3px solid white;
    text-shadow: 0px 0px 5px black;
    transition: all .5s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.301);
}

#menu ul li a:hover{
    background-color: white;
    color: black;
    text-shadow: none;
}