.container{
    max-width: 1100px;
    margin: auto;
}
.sidebar{
    width: 330px;
    height: 100vh;
    float: left;
    position: fixed;
    top: 0;
    margin-top: 0;
    margin-right: 5px;
}
.content{
    float: right;
    width: 68%;
    min-width: 460px;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1043px){
    body{
        margin: 0;
        padding: 0;
    }
    .container, .content{
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .content{
        min-width: 0;
        margin-top: 60px;
    }
}




