#content {
    margin-top: 60px;
}

.post {
    margin: 10px auto;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.342);
    width: 100%;
    max-width: 360px;
    position: relative;
}

.post header {
    width: 100%;
    position: relative;
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.info h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: min(10vw, 30px);
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0);
    margin: 0;
    text-align: center;

}

.post .info p {
    font-family: 'Abril Fatface', cursive;
    font-size: min(3vw, 12px);
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0);
    text-align: center;

}


.post header img{
    width: 100%;
    position: relative;
    max-height: 152px;
    filter: blur(1px) brightness(85%);
}


.description {
    font-family: 'Merriweather', serif;
    margin-top: 2px;
    max-height: 130px;
    overflow: hidden;
    font-size: min(5vw, 14px);
    color: #222222;
    padding: 0px 7px 7px 7px;
    text-align: justify;
    display: block;
}

.button {
    display: block;
    width: 100%;
    font-size: max(1.5vw, 20px);
    line-height: 1.5vw;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    font-family: 'Oranienbaum', serif;
    text-decoration: none;
    color: black;
    transition: all .5s;
}

.button:hover {
    color: white;
    text-shadow: 0px 0px 10px black;
}

@media screen and (min-width: 650px){
    #content {
        position: relative;
        margin-left: max(40%, 305px);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }

    #content_post {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .post {
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.342);
        min-width: 320px;
        max-width: 380px;
    }

    .info h1{
        font-size: min(4vw, 26px);
    }
    .description{
        font-size: 14px;
    }
}

@media screen and (min-width: 900px){
    #content {
        position: relative;
        max-width: 750px;
        margin-left: 33%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    #content_post {
        width: 100%;
        max-width: 750px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .post {
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.342);
        width: 49%;
        min-width: 350px;
        max-width: 360px;
        height: 333px;
    }

    .button {
        font-size: min(3vw, 20px);
    }

}
