---
layout: wrapper
---

    {% for post in site.posts %}
        <div class="post">
            <header>
                <a href="{{site.baseurl}}/{{ post.url }}"> 
                    <img src="{{site.baseurl}}/{{post.imgHome}}" alt="">      
                    <div class="info">
                        <h1>{{ post.title }}</h1>
                        <p>
                            {% assign m = post.date | date: "%-m" %}
                            {{ post.date | date: "%-d" }} de
                            {% case m %}
                                {% when '1' %}Janeiro
                                {% when '2' %}Fevereiro
                                {% when '3' %}Março
                                {% when '4' %}Abril
                                {% when '5' %}Maio
                                {% when '6' %}Junho
                                {% when '7' %}Julho
                                {% when '8' %}Agosto
                                {% when '9' %}Setembro
                                {% when '10' %}Outubro
                                {% when '11' %}Novembro
                                {% when '12' %}Dezembro
                            {% endcase %} de 
                            {{ post.date | date: "%Y" }}
                        </p>

                        

                    </div>
                </a>  
            </header>
            <p class="description"> {{ post.descricao }} </p>
            <a class="button" href="{{site.baseurl}}/{{ post.url }}">Leia mais</a>
        </div>   
    {% endfor %}
